<footer class="py-5">
    <div class="upper-line mb-5"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-6 mb-4 mb-md-0">
                <div class="footer-menu">
                    <img src="/assets/webshop/my/images/logo.png" alt="logo">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-6 mb-4 mb-md-0">
                <div class="footer-menu social-widget">
                    <div class="d-flex align-items-center gap-2">
                        <img src="/assets/webshop/my/images/footer/phone-icon.svg" alt="phone">
                        <p>+7 (778) 916 21 59</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-6 mb-4 mb-md-0">
                <div class="footer-menu social-widget">
                    <div class="d-flex align-items-center gap-2">
                        <img src="/assets/webshop/my/images/footer/mail-icon.svg" alt="phone">
                        <p class="mail-text">marfuga1998@outlook.com</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-6 mb-4 mb-md-0">
                <div class="footer-menu social-widget">
                    <div class="d-flex align-items-center gap-2 justify-content-end">
                        <div class="social-links mb-5">
                            <ul class="d-flex list-unstyled gap-2">
                                <li>
                                    <a href="#" class="">
                                        <img src="/assets/webshop/my/images/footer/whatsapp-icon.svg" alt="whatsapp">
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="">
                                        <img src="/assets/webshop/my/images/footer/instagram-icon.svg" alt="instagram">
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="">
                                        <img src="/assets/webshop/my/images/footer/2gis-icon.png" alt="2gis">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-6"></div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-menu">
                        <h5 class="widget-title">Интернет-ьагазин</h5>
                        <ul class="menu-list list-unstyled">
                            <li class="menu-item">
                                <a href="#" class="nav-link">О компании</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="nav-link">Оплата и доставка</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="nav-link">Предложения и сотрудничсетво</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-menu">
                        <h5 class="widget-title">Сервис</h5>
                        <ul class="menu-list list-unstyled">
                            <li class="menu-item">
                                <a href="#" class="nav-link">FAQ</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="nav-link">Контакты</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="nav-link">Возврат и обмен</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6"></div>
            </div>
        </div>
    </footer>
    <div id="footer-bottom">
        <div class="container-fluid">
            <hr/>
            <div class="row">
                <div class="col-md-6 copyright">
                    <p>Doral© 2025</p>
                </div>
                <div class="col-md-6 credit-link text-start text-md-end">
                    <p>Разработка интернет-магазина <a href="#">MIX8</a>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>